# Игнорировать директорию node_modules, так как она содержит зависимости
node_modules/


# Игнорировать сгенерированные файлы и директории Vue CLI
/dist/
/.sass-cache/
/.eslintcache/

# Игнорировать файлы конфигурации Vue CLI
.env.local
.env.development
.env.production
.env.staging
.env.test

# Игнорировать файлы зависимостей и временные файлы
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Игнорировать локальные настройки редакторов
.vscode/
.idea/

# Игнорировать файлы локальной истории коммитов
.history/

# Игнорировать временные файлы и кэш
*.log
*.tmp
*.swp
.DS_Store
Thumbs.db

# Игнорировать папку сборки VuePress (если используете VuePress)
.vuepress/dist/
